/*  || Contact Form Section */
.form_wrapper {
  padding: 50px 0px;
  background-color: whitesmoke;
}
.form_container {
  width: 50%;
  margin: auto;
  transition: all 0.2s ease;
}
.form-heading {
  width: 50%;
  margin: auto;
  padding-bottom: 38px;
  font-size: 3rem;
  transition: all 0.2s ease;
}
.form-control {
  margin-bottom: 26px;
}
.form-input {
  width: 100%;
  border: 1px solid #b1adad;
  padding: 0px 5px;
  box-sizing: border-box;
  font-size: 0.9rem;
  height: 44px;
  border-radius: 3px;
  max-width: 100%;
  transition: all 0.2s ease;
}
.textarea {
  height: auto;
  padding-top: 12px;
}
.mb {
  margin-bottom: 13px;
}
.form-btn {
  display: block;
  border-radius: 1px;
  background-color: #f95623;
  border: none;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 1.1rem;
  padding: 10px;
  width: 100px;
  transition: all 0.2s;
  cursor: pointer;
}
.form-btn:hover {
  background-color: #c33408;
}
/* Thanks message after submitting form */
.thanks {
  width: 50%;
  height: 570px;
  margin: auto;
}
.success {
  padding: 10px 0px;
  border-radius: 3px;
  color: green;
}
/* Media Queries below 1350px */
@media only screen and (max-width: 1350px) {
  /* Contact Form Section */
  .form_container,
  .form-heading {
    width: 80%;
  }
}

/* Media Query below 590px  */
@media only screen and (max-width: 590px) {
  /* Contact Form */
  .form-heading {
    width: 95%;
    font-size: 2.4rem;
  }
  .form_container {
    width: 95%;
  }
}