/* || CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  /* font-family: "Crete Round", serif; */
}
/* || CSS Variables */
:root {
  --theme-1: #ff703a;
  --theme-2: black;
}
html {
  scroll-behavior: smooth;
}
.container {
  background-color: var(--theme-2);
  padding-bottom: 30px;
}
.c-header {
  padding: 10px 10px 30px 10px;
}
.c-header h3 {
  color: white;
  user-select: none;
  font-size: 1.5rem;
}

/* ||  Header Section */
#header {
  background-color: var(--theme-2);
  height: 160px;
  justify-content: space-evenly;
  align-items: unset;
  padding-bottom: 15px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 10px 20px;
}
.logo a {
  flex-direction: row !important;
  outline: none;
}
.logo a img {
  width: 40px;
}
.menu {
  padding: 0px 30px;
  user-select: none;
}
.menu a {
  display: block;
}
.menu img {
  width: 30px;
}

/* ||  Search-Bar */
/* search form  */
.search-form {
  display: flex;
  width: 55%;
  margin: auto;
  height: 55px;
  transition: all 0.5s ease;
  background-color: white;
}
/* search input  */
.search {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0px 10px 10px;
  outline: none;
  border: none;
  font-size: 1.03rem;
}
/* search button  */
.search-img {
  width: 24px;
}
.search-btn {
  width: 62px;
  cursor: pointer;
  background: white;
  border: 1px solid white;
  color: white;
  transition: all 0.2s ease;
  user-select: none;
}
.search-btn:hover {
  background-color: var(--theme-1);
  border: 1px solid var(--theme-1);
}

/* ||  Navbar Section */
#navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000d1;
  z-index: 100;
  visibility: hidden;
}
#navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 310px;
  border: 1px solid #656565;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  display: none;
  animation: animateBoxOpen 0.2s ease forwards;
  overflow-y: scroll;
}
#navbar h2 {
  padding: 10px;
  background-color: var(--theme-2);
  color: white;
  position: relative;
}
#navbar h2 span {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
#navbar h2 span:hover {
  color: #656565;
}
.nav-link {
  font-size: 1.2rem;
  color: #454545;
  padding: 2px 10px;
  margin: 5px 0px;
  display: block;
  transition: all 0.1s ease;
}
.nav-link:hover {
  color: #ff531f;
}

/* Scroll top button */
#scroll-top {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999999;
  transition: all 0.3s ease;
  display: none;
}
#scroll-top img {
  width: 46px;
  transform: rotate(45deg);
}

/*  || Footer Section */
#footer {
  background-color: var(--theme-2);
  align-items: unset;
  user-select: none;
}
.footer-top {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  width: 90%;
  margin: 50px auto;
  grid-gap: 5rem;
}
.footer-box {
  padding: 12px 20px;
  box-sizing: border-box;
}
.footer-box h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.link {
  display: flex;
  color: grey;
  padding: 8px 0px;
  align-items: center;
  transition: all 0.3s ease;
}
.link:hover {
  color: var(--theme-1);
}
.footer-bottom {
  padding: 20px;
  box-sizing: border-box;
  background-color: #252525;
}

/* ||| Utility Section */
/* Heading */
.h-primary {
  color: white;
  font-family: "Crete Round", serif;
  user-select: none;
}
a {
  text-decoration: none;
}

/* Displays */
.d-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.none {
  display: none; /* hide the element in html document */
}

/* Positions */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--theme-2);
  padding: 15px 0px;
  transition: all 0.3s ease;
}

/* Alignment */
.right {
  text-align: right !important;
}

/* Color */
.coral {
  color: var(--theme-1);
}
.invert {
  filter: invert();
  transition: all 0.2s ease;
  cursor: pointer;
}
.invert:hover {
  animation: contrast 0.2s ease forwards;
}

/* Paragraphs */
.para {
  color: #929292;
  font-size: 1.02rem;
  text-align: justify;
}

/* Lists */
li {
  list-style-type: none;
}

/* Images and Icons */
.small-img {
  width: 20px;
  cursor: pointer;
}

/* Margins */
.mr {
  margin-right: 10px;
}

/* Buttons */
.icon_btn {
  background-color: var(--theme-2);
  border: none;
  padding: 5px 8px;
  outline: none;
}
/* Animations */
/* KeyFrames */
@keyframes text {
  from {
    font-size: 3rem;
  }
  to {
    font-size: 2rem;
  }
}

@keyframes contrast {
  from {
    filter: contrast(0);
  }
  to {
    filter: contrast(0.5);
  }
}

@keyframes animateBoxOpen {
  from {
    width: 0px;
  }
  to {
    width: 310px;
  }
}

/* Media Queries below 1350px */
@media only screen and (max-width: 1350px) {
  /* Header Section */
  .search-form {
    width: 65%;
    height: 50px;
  }
  /* Footer Section */
  .footer-top {
    grid-gap: unset;
  }
  .footer-box h2 {
    font-size: 1.3rem;
  }
}

/* Media Queries below 900px */
@media only screen and (max-width: 900px) {
  /* Header Section */
  .menu img {
    width: 22px;
  }
  .search-form {
    width: 90%;
    height: 50px;
  }
}

/* Media Query below 590px  */
@media only screen and (max-width: 590px) {
  .search-form {
    width: 94%;
    height: 40px;
  }
  .h-primary {
    font-size: 1.5rem;
  }
  .footer-top {
    display: block;
  }
  /* Footer Section */
  .footer-top {
    margin: 20px auto;
  }
  .footer-box {
    padding: 0px 10px;
    margin-bottom: 10px;
  }
  .footer-box h2 {
    margin-bottom: 7px;
  }
  .small-img {
    width: 15px;
  }
  .link {
    font-size: 1rem;
    padding: 5px 0px;
  }
  .para {
    font-size: 1.05rem;
  }
}