/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    /* font-family: "Crete Round", serif; */
  }
  :root{
    --theme-bg : #7107fd;
    --theme-bg-hover : #6305df;
  }
  
  /* Container Section */
  .container,
  #header {
    width: 95%;
    margin: auto;
  }
  .container ul {
    padding: 0px 20px;
  }
  
  .content {
    margin: 20px 0px;
  }
  .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    box-sizing: border-box;
  }
  
  /* Table Section */
  .table {
    table-layout: fixed;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 100%;
  }
  .head-row th:first-child {
    width: 50px;
  }
  .head-row th:last-child {
    width: 100px;
  }
  .head-row .title {
    width: 10%;
  }
  .head-row .note {
    width: 40%;
  }
  
  /* Quotes Display Section */
  .auth_title{
      width: 25%;
  }
  
  th,
  td {
    word-break: break-word;
    border: 1px solid black;
    padding: 3px 7px;
    box-sizing: border-box;
  }
  .btn-icon {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  /* login form content */
  .login-container{
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
  }
  .box{
    border: 1px solid #d3d3d3;
    width: 430px;
    border-radius: 5px;
    justify-content: space-between !important;
    align-items: unset !important;
    box-sizing: border-box;
    background-color: white;
  }
  .login_heading{
    padding: 42px 20px 10px 20px;
  }
  #content{
    padding: 0px 20px 20px 20px;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
  }
  .control-name{
    padding: 10px 0px 6px 0px;
    font-weight: bolder;
    color: rgb(77, 77, 77);
  }
  .login-control{
    border: 1px solid gainsboro;
    padding: 10px;
    padding-left: 15px;
    border-radius: 20px;
    outline: none;
  }
  .terms-conditions{
    margin: 10px 0px;
    flex-direction: row !important;
    justify-content: unset !important;
  }
  .t-input{
    margin-right: 5px;
    cursor: pointer;
  }
  .login_btn{
    background-color: var(--theme-bg);
    border: none;
    padding: 10px 12px;
    font-size: 0.9rem;
    color: white;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    margin: 15px 0px 0px 0px;
  }
  .btn:hover{
    background-color: var(--theme-bg-hover);
  }
  .error{
    padding: 0px 20px;
  }
  
  /* Form Section */
  .form-control {
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    max-width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Lists */
  .ul-grid {
    width: 70%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    list-style: none;
  }
  .ul-grid li {
    padding: 6px;
    text-align: justify;
  }
  .link {
    display: inline-block;
    text-decoration: none;
    color: #3c3c3c;
    font-size: 1.1rem;
  }
  .link:hover {
    color: rgb(27, 67, 246);
  }
  
  /* Contact Section */
  .contact{}
  .contact .head-row th:first-child{}
  .contact .head-row th:nth-child(2),
  .contact .head-row th:nth-child(3){
    width: 120px;
  }
  .contact .head-row th:nth-child(4){
    width: 100px;
  }
  .contact .head-row th:nth-child(5){}
  .contact .head-row th:nth-child(6){}
  .contact .head-row th:nth-child(7){}
  .contact .head-row th:nth-child(8){
    width: 170px;
  }
  .contact .head-row th:last-child{}

  /* Utility Classes */
  .btn {
    border: none;
    text-decoration: none;
    background: #067fe6;
    color: white;
    padding: 10px 13px;
    border-radius: 3px;
    font-size: 0.93rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
  }
  .btn:hover {
    background: #035dac;
  }
  .center {
    text-align: center;
  }
  .left {
    text-align: left;
  }
  .main-heading{
    color: rgb(31, 31, 31);
    font-size: 1.8rem;
  }
  .d-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .p-heading {
    text-align: center;
    padding: 20px 0px;
  }
  .alert{
    color: red;
  }
  /* Media Queries */
  @media only screen and (max-width: 480px) {
    .home {
      display: block;
    }
    .actions img {
      width: 20px;
    }
    .head-row th:last-child {
      width: 75px;
    }
    th,
    td {
      padding: 1px 5px;
    }
    td {
      font-size: 0.8rem;
    }
    .ul-grid {
      width: 100%;
      margin: 0px;
    }
    .content ul {
      padding: 0px;
    }
    .box{
      width: 100%;
  }
  }